node_modules/
dist/
coverage/
*.tsbuildinfo

.env
.env.local
.env.*.local
.env.*
!.env.example

uploads/*
!uploads/.gitkeep
!uploads/images/
!uploads/files/
uploads/images/*
!uploads/images/.gitkeep
uploads/files/*
!uploads/files/.gitkeep

logs/*
!logs/.gitkeep

*.log
*.db
*.db-journal
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.iml
.eslintcache
.node_repl_history
*.tgz
.pnpm-debug.log
